aws_region = "us-east-2"

project_name = "pj-payment-orchestrator"
environment  = "dev"

payment_created_queue_name = "payment-created"
fraud_decision_topic_name  = "payment-fraud-decision"
notification_queue_name    = "payment-notification"
fraud_evidence_table_name  = "payment-fraud-evidence"

tags = {
  Owner       = "platform-team"
  CostCenter  = "payments"
  Application = "pj-payment-orchestrator"
}
